@keyframes pulse {
    15% {
        fill: rgb(255 192 40);}

    45% {
        fill: rgb(238, 146, 25);
    }
    60% {
        fill: rgb(248, 147, 16);}
    
    90% {
        fill: rgb(255 192 40);
    }


  }
  


