p
{
  position:absolute;
  color:white;
}
.circles
{
  width:1200px;
  height:400px;
  background-color:black;
  position:absolute;
}
.circles svg
{
  margin-left:5%;
}
.number
{
  position:absolute;
  margin-left:32%;
  margin-top:4%;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight:10px;
  font-size: 28px;
}
.heading
{
  position:absolute;
  margin-left:34%;
  margin-top:5%;
  font-family: 'Open Sans', sans-serif;
  font-weight:3px;
  font-size: 34px;
}
.heading p
{
width:500px;  
}
.text
{
  position:absolute;
  margin-left:34%;
  margin-top:10%;
  font-family: 'Open Sans', sans-serif;
  font-weight:3px;
  font-size: 10px;
}
.text p
{
 width:366px; 
}